/* comment */

/* body {
  margin: 0;
  background-color: #4f4f4f;
  font-family: 'Arvo', serif;
}


/* .NewClass {
  margin: 0 auto;
  background-color: #4f4f4f;
  justify-content: center;
  align-content: center;
} */

